.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10spx 0px;
}

.logo {
  max-width: 15%;
}

.navbar-links {
  list-style: none;
  margin: 15px;
  padding: 0;
  display: flex;
}

.navbar-links-item {
  margin-right: 20px;
}

.link-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link-text:hover {
  color: #ffc107;
}
