.navbar {
  background-color: white;
}

.logo {
  width: 200px;
  height: auto;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style-type: none;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.navbar-links-item {
  padding: 1.5px 14px;
}

.link-text {
  text-decoration: none;
  color: #790247;
  font-size: large;
  font-weight: bolder;
}

.link-text:hover {
  color: #530231;
}
